body {
  padding: opx;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#list-title {
  height: 10%;
  padding-top: 15px;
}

#task-list {
  height: 78%;
  overflow-y: scroll;
}

#task-input {
  position: fixed;
  bottom: 20px;
  width: 70%;
  z-index: 10;
}

#task-list .input-group {
  padding: 15px 80px 15px 0px;
}

.checked-input {
  text-decoration: line-through;
}

/* scroll bar */

#task-list::-webkit-scrollbar {
  width: 0.4em;
}

#task-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#task-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 105, 207, 0.5);
  outline: 1px solid slategrey;
}

/* sidebar */

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #37474f;
  color: #fff;
  transition: all 0.3s;
}

#content {
  margin-left: 250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #102027;
}

#sidebar ul.components {
  padding-bottom: 20px;
  border-bottom: 1px solid #102027;
}

#sidebar .input-group{
  padding: 0px 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #fff;
}

#sidebar ul li a:hover {
  color: #102027;
  background: #fff;
  text-decoration: none;
}

#sidebar ul li.active>a, a[aria-expanded="true"] {
  color: #fff;
  background: #102027;
}